@font-face {
  font-family: customFont;
  src: url("assets/fonts/RedHatText-VariableFont_wght.ttf");
}

:root {
  --color-white: #fff;
  --default-fontweight: 600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background-color: #fcf8f5;
  font-family: customFont, sans-serif;
  font-size: 1rem;
  height: 100vh;
}

.contents {
  display: flex;
  width: 80%;
  height: 100vh;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  /* background-color: #be3c11; */
  justify-content: space-between;
}

.desserts {
  width: 65%;
}

.dessertList {
  display: grid;
  column-gap: 20px;
  row-gap: 0;
  grid-template-columns: auto auto auto;
  margin-bottom: 50px;
  margin-top: 30px;
}

.dessertCards {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}

.dessertsImage img {
  width: 100%;
  height: 100%;
  border-radius: 5%;
}

.Carts {
  background-color: var(--color-white);
  width: 32%;
  height: fit-content;
  padding: 20px;
  border-radius: 5%;
}
.cartHeader {
  color: #be3c11;
  width: 100%;
  text-align: left;
}

.cartItems {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  width: inherit;
  width: 100%;
}

.emptyCart {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  align-items: center;
  width: 100%;
}

.emptyCart > p{
  font-size: 1.0rem;
}


.cartItems img {
  width: 50%;
  height: 50%;
}
.addtoCart {
  width: 140px;
  padding: 10px 15px 10px 40px;
  border: 1px solid gray;
  border-radius: 1.5rem;
  position: relative;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  background-image: url("./assets/images/icon-add-to-cart.svg");
  background-repeat: no-repeat;
  background-position: 15px center;
  background-size: 20px;
  text-align: center;
  font-size: 0.9rem;
  background-color: var(--color-white);
  transition: all 0.3s ease;
}

.addtoCart:hover {
  cursor: pointer;
  background-color: #f8f8f8;
  border-color: #be3c11;
  color: #be3c11;
}

.increaseReduce {
  border-radius: 1.5rem;
  position: relative;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.8rem;
  color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: flex-start;
  background-color: #be3c11;
  justify-content: space-between;
  height: 0%;
  width: 140px;
  height: max-content;
  padding: 10px 20px 10px 20px;
}

/* .increaseReduce > div {
  border: 1px solid --color-white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
} */

/* #reduce{
  padding-left: 3px;
  padding-right: 3px;
  background-color: aqua;
  border: 1px solid --color-white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
} */
.decrement{
  padding-left: 3px;
  padding-right: 3px;
  background-color: #be3c11;
  border: 1px solid var(--color-white);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: white;
}

/* #increase {
  background-color: gold;
  padding: 3px;
} */
.increment{
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 1px;
  background-color: #be3c11;
  border: 1px solid var(--color-white);
  width: 20px;
  height: 20px;
  color: white;
  border-radius: 50%;
  font-size: 1rem;
}
#cartItemCount {
  font-size: 1.5rem;
  /* background-color: gold; */
}

#category {
  color: gray;
}

#name {
  font-weight: bold;
}

#price {
  color: #be3c11;
  font-weight: bold;
}

.cartItem {
  display: flex;
  flex-direction: row;
  list-style: none;
  border-bottom: 1px solid rgb(240, 238, 238);
  justify-content: space-between;
  /* background-color: aqua; */
  margin-bottom: 10px;
  padding-bottom: 10px;
  width: 100%;
}

.cartItem > svg {
  width: 20px;
  height: 20px;
  padding: 2px;
  border-radius: 50%;
  border: 1px solid gray;
}
.cartItem > svg:hover {
  border: 1px solid black;
  transform: scale(1.2);
}

.cartItem > svg > path {
  padding: 2px;
  fill: gray;
}
.cartItem > svg:hover path {
  fill: black;
  cursor: pointer;
}

svg {
  align-self: center;
}

.confirmOrder {
  padding-top: 15px;
  padding-bottom: 15px;
  border: none;
  background-color: #be3c11;
  color: #fff;
  border-radius: 1.5rem;
  font-weight: 500;
  font-size: 0.9rem;
}
.confirmOrder:hover {
  cursor: pointer;
  background-color: #a13511
}

.carbonNeutralContainer {
  background-color: #fcf8f5;
  padding: 10px 30px 10px 30px;
  margin: 20px 0 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  align-content: baseline;
}
.carbonNeutralContainer p {
  font-size: 0.8rem;
  padding-left: 10px;
  width: fit-content;
  /* background-color: blue; */
}

.qtyPrice {
  color: #be3c11;
  font-weight: 500;
}

.qtyPrice span {
  color: #7d7572;
}
.dessertName {
  font-weight: 500;
}

.unitPrice {
  font-weight: 300;
}

.qtyPrice{
  padding-bottom: 10px;
  padding-top: 5px;
}
.orderTotal{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.orderTotal > p{
  align-items:baseline;
  align-self: center;
}

.total{
font-size: 1.5rem;
font-weight: 700;
}


/* Mobile Styles (up to 465px) */
@media screen and (max-width: 465px) {
  .contents {
    width: 90%;
    flex-direction: column;
    margin-top: 20px;
  }

  .desserts {
    width: 100%;
  }

  .dessertList {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin: 20px 0;
  }

  .dessertCards {
    width: 100%;
    margin-bottom: 20px;
    height: 400px;
  }

  #desserts-image img {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }

  .Carts {
    width: 100%;
    margin-bottom: 40px;
  }

  .addtoCart {
    width: 60%;
    font-size: 0.9rem;
    padding: 15px 15px 15px 35px;
    background-position: 15%;
  }
  .cartItems {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    width: 100%;
  }
}

/* Tablet Styles (466px to 1024px) */
@media screen and (min-width: 466px) and (max-width: 1024px) {
  .contents {
    width: 90%;
    flex-direction: column;
    margin-top: 25px;
  }

  .desserts {
    width: 100%;
  }

  .dessertList {
    grid-template-columns: auto auto;
    gap: 10px;
  }

  #desserts-image img {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }

  .addtoCart {
    width: 50%;
    font-size: 0.9rem;
    padding: 15px 15px 15px 35px;
    background-position: 12%;
  }

  .Carts {
    width: 100%;
    margin: 30px 0;
  }

  .cartItems {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .cartItems {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    width: 100%;
  }
}
